* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.SearchResult {
    display: inline-block;
    margin: 20px;
    background-color: yellowgreen;
}

.result {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    width: 50%;
}

.poster {
    width: 150px;
    height: 220px;
}